<form id="messageForm">
<input type="email" id="email" placeholder="Ingrese un email">
<input type="text" id="message" placeholder="Ingrese un mensaje">
<button type="button" onclick="addMessage(messageForm)">Add</button>

</form>